[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=battleship-qml-webview
Exec=/usr/bin/invoker --type=d -s /opt/battleship-qml-webview/bin/battleship-qml-webview
Icon=/usr/share/icons/hicolor/80x80/apps/battleship-qml-webview80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
