[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=battleship-qml-webview
Exec=/opt/battleship-qml-webview/bin/battleship-qml-webview
Icon=battleship-qml-webview64
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
